.profile {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__title {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  padding-bottom: 123px;
}
.profile__form {
  display: flex;
  flex-direction: column;
  width: 410px;
}
.profile__label {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0;
}
.profile__label:first-child {
  border-bottom: 1px solid rgba(232, 232, 232, 1);
}
.profile__input {
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: right;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
}
.profile__button {
  border: none;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.profile__button:hover {
  opacity: 0.7;
}
.profile__button-submit {
  margin-top: 20px;
}
.profile__button-submit_disable {
  color: rgba(194, 194, 194, 1);
}
.profile__button-submit_disable:hover {
  opacity: 1;
  cursor: auto;
}
.profile__button_log-out {
  text-decoration: none;
  margin-top: 16px;
  color: rgba(255, 48, 85, 1);
}
.profile__input-error {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: rgba(255, 48, 85, 1);
  opacity: 0;
  visibility: hidden;

  margin-top: 4px;
  transition: 0.3s;
}
#profile__input-error-name {
  min-height: 12px;
}
#profile__input-error-email {
  min-height: 24px;
}
.profile__input-error_visible {
  opacity: 1;
  visibility: visible;
}
.profile__form-error {
  margin-top: 184px;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: rgba(255, 48, 85, 1);
  opacity: 0;
  visibility: hidden;
  min-height: 16px;
  transition: 0.3s;
}
.profile__form-error_visible {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .profile__title {
    padding-bottom: 80px;
  }
  .profile__form-error {
    margin-top: 327px;
  }
}
@media screen and (max-width: 425px) {
  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
  .profile__form {
    width: 260px;
  }
}
