.search-form {
  padding: 70px 70px 48px;
}
.search-form__conntainer {
  display: flex;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
}
.search-form__input {
  font-family: Inter;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  color: rgba(160, 160, 160, 1);
  width: 100%;
  border: none;
  padding-bottom: 13px;
  outline: none;
}
.search-form__button-submit {
  background-image: url('../../images/search-form-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(52, 86, 243, 1);
  border-radius: 50%;
  border: none;
  width: 34px;
  height: 34px;
  cursor: pointer;
}
.search-form__button-submit:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .search-form {
    padding: 80px 30px 61px;
  }
}
@media screen and (max-width: 600px) {
}
