.portfolio__list-item {
  list-style: none;
  position: relative;
}
.portfolio__list-item:not(:last-child) {
  margin-bottom: 20px;
}
.portfolio__list-link::after {
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translate(0%, -85%);
  background-image: url('../../images/arrow__project-link.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
}
.portfolio__list-item:hover {
  scale: 1.03;
}
.portfolio__list-link {
  display: inline-flex;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  padding-bottom: 20px;
  width: 100%;
  text-decoration: none;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 1);
}
.portfolio__list-link:hover {
  opacity: 0.7;
  color: rgba(43, 224, 128, 1);
  border-bottom: 1px solid rgba(43, 224, 128, 1);
}
.portfolio__list-link:hover::after {
  background-image: url('../../images/arrow__project-link_green.svg');
}
@media screen and (max-width: 768px) {
  .portfolio__list-link {
    font-size: 28px;
    padding-bottom: 19px;
  }
  .portfolio__list-link::after {
    width: 18px;
    height: 18px;
  }
}
@media screen and (max-width: 425px) {
  .portfolio__list-link {
    font-size: 18px;
    line-height: 28px;
  }
  .portfolio__list-link::after {
    width: 14px;
    height: 14px;
  }
}
