.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  justify-content: space-between;
  padding: 18px 70px;
  position: relative;
  background-color: #ffffff;
}
.header__logo {
}
.header__nav {
}
.header__button {
}
.header__box {
}
